<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>管理中心</title>
    <base th:href="${#request.getContextPath()}+'/'">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="font/iconsmind-s/css/iconsminds.css"/>

    <link rel="stylesheet" href="font/simple-line-icons/css/simple-line-icons.css"/>
    <link rel="stylesheet" href="css/vendor/fullcalendar.min.css"/>
    <link rel="stylesheet" href="css/vendor/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet" href="css/vendor/datatables.responsive.bootstrap4.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap-tagsinput.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap.rtl.only.min.css"/>
    <link rel="stylesheet" href="css/vendor/perfect-scrollbar.css"/>
    <link rel="stylesheet" href="css/vendor/select2.min.css"/>
    <link rel="stylesheet" href="css/vendor/select2-bootstrap.min.css"/>
    <link rel="stylesheet" href="css/vendor/glide.core.min.css"/>
    <link rel="stylesheet" href="css/vendor/baguetteBox.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap-stars.css"/>
    <link rel="stylesheet" href="css/vendor/nouislider.min.css"/>
    <link rel="stylesheet" href="css/vendor/bootstrap-datepicker3.min.css"/>
    <link rel="stylesheet" href="css/vendor/component-custom-switch.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="css/vendor/dropzone.min.css"/>
    <link rel="stylesheet" href="css/vendor/quill.snow.css"/>
    <link rel="stylesheet" href="css/vendor/quill.bubble.css"/>


    <script src="js/vendor/jquery-3.3.1.min.js"></script>

    <script src="js/vendor/vue.min.js"></script>
    <script src="js/vendor/dropzone.min.js"></script>
    <script src="js/vendor/bootstrap.bundle.min.js"></script>
    <script src="js/vendor/Chart.bundle.min.js"></script>
    <script src="js/vendor/chartjs-plugin-datalabels.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/perfect-scrollbar.min.js"></script>
    <script src="js/vendor/baguetteBox.min.js"></script>
    <script src="js/vendor/glide.min.js"></script>
    <script src="js/vendor/progressbar.min.js"></script>
    <script src="js/vendor/jquery.barrating.min.js"></script>
    <script src="js/vendor/jquery.validate/jquery.validate.min.js"></script>
    <script src="js/vendor/jquery.validate/additional-methods.min.js"></script>
    <script src="js/vendor/bootstrap-tagsinput.min.js"></script>
    <script src="js/vendor/datatables.min.js"></script>
    <script src="js/vendor/dataTables.buttons.min.js"></script>
    <script src="js/vendor/jszip.min.js"></script>
    <script src="js/vendor/pdfmake.min.js"></script>
    <script src="js/vendor/vfs_fonts.js"></script>
    <script src="js/vendor/buttons.html5.min.js"></script>
    <script src="js/vendor/buttons.print.min.js"></script>
    <script src="js/vendor/select2.full.js"></script>
    <script src="js/vendor/nouislider.min.js"></script>
    <script src="js/vendor/bootstrap-datepicker.js"></script>
    <script src="js/vendor/Sortable.js"></script>
    <script src="js/vendor/mousetrap.min.js"></script>
    <script src="js/dore.script.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/vendor/bootstrap-notify.min.js"></script>
    <script src="js/vendor/quill.min.js"></script>
    <script src="js/vendor/ckeditor5-build-classic/ckeditor.js"></script>


    <link rel="stylesheet" href="../layui/css/layui.css"/>

</head>
<body class="show-spinner">
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <div class="card mb-4">
                    <div class="card-body">
                        <h3 class="mb-4">新增地区</h3>
                        <div class="separator mb-5"></div>

                        <label class="form-group has-float-label mb-4">
                            <input class="form-control" v-model="area.name"> <span>名称</span>
                        </label>


                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-body">
                        <button class="btn btn-primary btn-lg btn-shadow" @click="add">提交</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>


<script type="text/javascript" src="../axios/vue.js"></script>
<script type="text/javascript" src="../axios/axios.min.js"></script>
<script type="text/javascript" src="../axios/qs.js"></script>
<script type="text/javascript" src="../axios/getUrlParams.js"></script>
<script type="text/javascript" src="../layui/layui.js"></script>

<script>
    // 消除子窗口内的theme主题按钮
    $(".theme-button").remove()

    var qs = Qs
    var vmm = new Vue({
        el: '#app',
        data: {
            area:{
                name:"",
            }
        },
        methods: {
            add() {
                axios.post('areaAdd', qs.stringify({
                    name:this.area.name,
                })).then(response => {
                    parent.vueindex.changemenu("arealist.html")
                }).catch(error => {
                })
            },

        },
    })

</script>


</html>