<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.dao.WelfareDAO">
    <resultMap type="com.it.entity.Welfare" id="BaseResultMap">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectAll" parameterType="HashMap" resultMap="BaseResultMap">
        select * from Welfare where 1=1
        <if test="key!=null and key!=''">
            and name like "%"#{key}"%"
        </if>
        order by id desc
    </select>

    <insert id="add" parameterType="com.it.entity.Welfare">
      insert into Welfare values(null,#{name})
    </insert>

    <update id="update" parameterType="com.it.entity.Welfare">
        update Welfare
        <set>
            <if test="name!=null and name!=''">
                name=#{name},
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="findById" parameterType="com.it.entity.Welfare" resultType="com.it.entity.Welfare">
      select * from Welfare where id=#{id}
    </select>

    <delete id="delete" parameterType="Int">
      delete from Welfare where id=#{id}
    </delete>


</mapper>

