<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Boxicons Min CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Odometer Min CSS-->
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <!-- Date Picker CSS-->
    <link rel="stylesheet" href="assets/css/date-picker.min.css">
    <!-- Muli Fonts Min CSS-->
    <link rel="stylesheet" href="assets/css/muli-fonts.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园兼职服务信息管理系统</title>
</head>

<body>
<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Header Area -->

<div id="iframetop"></div>


<!-- End Header Area -->

<!-- Start Banner Area -->

<div id="app">

    <section class="banner-area ptb-100">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-lg-7">
                            <div class="banner-content">
                                <h2>找到你的事业，创造更好的生活</h2>
                                <p></p>

                                <!--<form class="search-job">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-lg-5 col-sm-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<input type="text" class="form-control" id="job-title"-->
                                                       <!--placeholder="工作标题或企业">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="col-lg-4 col-sm-6">-->
                                            <!--<div class="form-group">-->
                                                <!--<input type="text" class="form-control" id="job-title-2"-->
                                                       <!--placeholder="职位">-->
                                            <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="col-lg-3 col-sm-6 offset-sm-3 offset-lg-0">-->
                                            <!--<button type="submit" class="default-btn">-->
                                                <!--<i class="bx bx-search"></i>-->
                                                <!--搜索工作-->
                                            <!--</button>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</form>-->

                                <div class="total-job-count">
                                    <div class="row">
                                        <!--<div class="col-lg-4 col-sm-6 col-md-4">-->
                                        <!--<div class="job-count">-->
                                        <!--<h3><span>Live Jobs: </span>9,492</h3>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="col-lg-4 col-sm-6 col-md-4">-->
                                        <!--<div class="job-count">-->
                                        <!--<h3><span>企业: </span>0</h3>-->
                                        <!--</div>-->
                                        <!--</div>-->

                                        <!--<div class="col-lg-4 col-sm-6 col-md-4 offset-sm-3 offset-lg-0 offset-md-0">-->
                                        <!--<div class="job-count">-->
                                        <!--<h3><span>招聘信息: </span>0</h3>-->
                                        <!--</div>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="banner-img">
                                <img src="assets/images/banner/banner-img.png" alt="Image">

<!--                                <div class="video-content">-->
<!--                                    <a href="https://www.youtube.com/watch?v=BVnMXNW_grk" class="popup-youtube">-->
<!--                                        <i class="flaticon-play-button-1"></i>-->
<!--                                    </a>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="partner-area bg-color">
        <div class="container">
            <div class="section-title">
                <span>&nbsp;</span>
                <h2>招聘企业</h2>
            </div>

            <div class="partner-bg">
                <div class="row">
                    <div class="col-lg-2 mb-30"  v-for="company in companylist">
                        <div class="partner-item">
                            <a :href="['companydetails.html?id='+company.id]">
                                <img :src="['upload/'+company.filename]" alt="Image" style="width: 170px;height: 135px">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <section class="live-jobs-area bg-color ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>&nbsp;</span>
                        <h3>分类浏览</h3>
                    </div>

                    <div class="live-jobs-item" style="width: 100%">
                        <div class="row">

                            <div v-for="category in categorylist" class="col-lg-3 col-sm-6">
                                <div class="single-live-job">
                                    <i class="flaticon-bank"></i>
                                    <a :href="['joblist.html?key2='+category.id]">
                                       {{category.name}} ({{category.jobs.length}})
                                    </a>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!--<div class="col-lg-4">-->
                    <!--<div class="hiring-list">-->
                        <!--<h3>Hiring Immediately</h3>-->

                        <!--<ul>-->
                            <!--<li>-->
                                <!--<a href="job-details.html" class="hiring-img">-->
                                    <!--<img src="assets/images/hiring/hiring-1.png" alt="Image">-->
                                <!--</a>-->
                                <!--<a href="job-details.html" class="link">Service Engineer</a>-->
                                <!--<span>Autozon power LTD</span>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="job-details.html" class="hiring-img">-->
                                    <!--<img src="assets/images/hiring/hiring-2.png" alt="Image">-->
                                <!--</a>-->
                                <!--<a href="job-details.html" class="link">Support Executive</a>-->
                                <!--<span>Saspol limited</span>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="job-details.html" class="hiring-img">-->
                                    <!--<img src="assets/images/hiring/hiring-3.png" alt="Image">-->
                                <!--</a>-->
                                <!--<a href="job-details.html" class="link">Research Assistant</a>-->
                                <!--<span>MedQ medical</span>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="job-details.html" class="hiring-img">-->
                                    <!--<img src="assets/images/hiring/hiring-4.png" alt="Image">-->
                                <!--</a>-->
                                <!--<a href="job-details.html" class="link">Content Writing</a>-->
                                <!--<span>Depan insider LTD</span>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </section>


    <section class="hot-jobs-area bg-color pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="section-title">
                        <span>&nbsp;</span>
                        <h3>最新招聘信息</h3>
                    </div>

                    <!--<div class="row">-->
                    <!--<div class="col-lg-6 col-md-6">-->
                    <!--<select>-->
                    <!--<option value="1">Full Time</option>-->
                    <!--<option value="2">Part Time</option>-->
                    <!--<option value="3">Night</option>-->
                    <!--<option value="4">Day</option>-->
                    <!--<option value="5">Evening</option>-->
                    <!--</select>-->
                    <!--</div>-->

                    <!--<div class="col-lg-6 col-md-6">-->
                    <!--<div class="show-page">-->
                    <!--<p>Show Per Page</p>-->
                    <!--<select>-->
                    <!--<option value="1">05</option>-->
                    <!--<option value="2">07</option>-->
                    <!--<option value="3">10</option>-->
                    <!--<option value="4">15</option>-->
                    <!--<option value="5">18</option>-->
                    <!--</select>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <div class="hot-jobs-list" v-for="(job,i) in joblist" v-if="i<6">
                        <div class="row align-items-center">
                            <div class="col-lg-2">
                                <a :href="['jobdetails.html?id='+job.id]" class="hot-jobs-img">
                                    <img :src="['upload/'+job.company.filename]" alt="Image">
                                </a>
                            </div>

                            <div class="col-lg-6">
                                <div class="hot-jobs-content">
                                    <h3><a :href="['jobdetails.html?id='+job.id]">{{job.title}}</a></h3>
                                    <!--<span class="sub-title">Finix loans & funding agency</span>-->
                                    <ul>
                                        <li><span>学历要求: </span>{{job.education}}</li>
                                        <li><span>职位: </span>{{job.category.name}}</li>
                                        <li><span>城市: </span>{{job.area.name}}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="hot-jobs-btn">
                                    <a :href="['jobdetails.html?id='+job.id]" class="default-btn">浏览详情</a>
                                    <p><span>发布日期: </span>{{job.savetime}}</p>
                                </div>
                            </div>
                        </div>
                        <span class="featured">news</span>
                    </div>








                </div>

                <div class="col-lg-4">
                    <div class="hot-jobs-sidebar">
                        <div class="hot-job-sidebar">
                            <img src="assets/images/hot-jobs/hot-jobs-sidebar-img.jpg" alt="Image">

                            <div class="hot-job-sidebar-content">
                                <h5>公告信息</h5>

                                <ul>
                                    <li v-for="(notice,i) in noticelist" v-if="i<7">
                                        <span>{{i+1}}</span>
                                        <a :href="['noticedetails.html?id='+notice.id]">{{notice.title}}</a>
                                    </li>

                                </ul>
                            </div>
                        </div>

<!--                        <div class="hot-job-sidebar">-->
<!--                            <div class="hot-job-sidebar-content quick-link">-->
<!--                                <h5>大家都在看</h5>-->

<!--                                <ul>-->
<!--                                    <li v-for="(hotjob,i) in hotjoblist">-->
<!--                                        <i class="bx bx-chevrons-right"></i>-->
<!--                                        <a :href="['jobdetails.html?id='+hotjob.id]">{{hotjob.title}} </a>-->
<!--                                    </li>-->
<!--                                </ul>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>






<!--    <section class="blog-area bg-color pb-70">-->
<!--        <div class="container">-->
<!--            <div class="section-title">-->
<!--                &lt;!&ndash;<span>Latest News</span>&ndash;&gt;-->
<!--                <h3>最新资讯</h3>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <div class="col-lg-4 col-md-6" v-for="(news,i) in newslist" v-if="i<3">-->
<!--                    <div class="single-blog-post">-->
<!--                        <div class="blog-img">-->
<!--                            <a :href="['newsdetails.html?id='+news.id]" >-->
<!--                                <img :src="['upload/'+news.filename]" alt="Image">-->
<!--                            </a>-->

<!--                            <ul>-->
<!--                                <li>{{news.savetime.substring(8,10)}} {{news.savetime.substring(5,7)}}</li>-->
<!--                                <li>{{news.savetime.substring(0,4)}}</li>-->
<!--                            </ul>-->
<!--                        </div>-->

<!--                        <div class="blog-content">-->
<!--                            <ul>-->
<!--                                <li>-->
<!--                                    <i class="bx bxs-user"></i>-->
<!--                                    <a href="#">admin</a>-->
<!--                                </li>-->
<!--                            </ul>-->

<!--                            <h3>-->
<!--                                <a :href="['newsdetails.html?id='+news.id]" >-->
<!--                                    {{news.title}}-->
<!--                                </a>-->
<!--                            </h3>-->


<!--                            <a :href="['newsdetails.html?id='+news.id]" class="read-more">-->
<!--                                阅读更多-->
<!--                                <i class="flaticon-right-arrow"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->

</div>
<!-- End Banner Area -->

<!-- Start Working Area -->

<!-- End Working Area -->

<!-- Start Partner Area -->
<!-- End Partner Area -->

<!-- Start Live Jobs Area -->
<!-- End Live Jobs Area -->

<!-- Start Hot Jobs Area -->
<!-- End Hot Jobs Area -->

<!-- Start Global Talent Area -->

<!-- End Global Talent Area -->

<!-- Start Testimonials Area -->

<!-- End Testimonials Area -->

<!-- Start Freelancer Area -->

<!-- End Freelancer Area -->

<!-- Start FAQ Area -->
<!-- End FAQ Area -->

<!-- Start App Downloading Area -->

<!-- End App Downloading Area -->

<!-- Start Pricing Package Area -->

<!-- End Pricing Package Area -->

<!-- Start Blog Area -->
<!-- End Blog Area -->



<div class="copy-right-area"  id="iframefoot">
</div>

<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->


<!-- Jquery Min JS -->
<script src="assets/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="assets/js/meanmenu.min.js"></script>
<!-- Wow Min JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="assets/js/nice-select.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- Mixitup JS -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- Appear Min JS -->
<script src="assets/js/appear.min.js"></script>
<!-- Odometer Min JS -->
<script src="assets/js/odometer.min.js"></script>
<!-- Range Slider Min JS -->
<script src="assets/js/range-slider.min.js"></script>
<!-- Datepicker Min JS -->
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="assets/js/ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>
<style>
    .copyrights {
        text-indent: -9999px;
        height: 0;
        line-height: 0;
        font-size: 0;
        overflow: hidden;
    }
</style>
<div class="copyrights">
    Collect from <a href="http://www.cssmoban.com/" title="网站模板">模板之家</a>
    <a href="https://www.chazidian.com/" title="查字典">查字典</a>
</div>

<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>


<script type="text/javascript">



    var qs = Qs
    var vmm = new Vue({
        el: '#app',
        data: {
            joblist:[],
            companylist:[],
            categorylist:[],
            noticelist:[],
            newslist:[],

            hotjoblist:[],

        },
        mounted() {
            sessionStorage.setItem("banermenus","index")
            this.getjoblist()
            this.getcompanylist()
            this.getcategorylist()
            this.getnoticelist()
            this.getnewslist()
            this.gethotjoblist()

        },
        methods: {


            gethotjoblist(){
                axios.post('admin/jobList',qs.stringify({
                    status:"已通过",
                    orderby:"orderby",
                })).then(response =>{
                    this.hotjoblist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },
            getnewslist(){
                axios.post('admin/newsList',qs.stringify({
                })).then(response =>{
                    this.newslist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },

            getnoticelist(){
                axios.post('admin/noticeList',qs.stringify({
                })).then(response =>{
                    this.noticelist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },


            getcategorylist(){
                axios.post('admin/categoryList',qs.stringify({
                })).then(response =>{
                    this.categorylist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },
            getjoblist(){
                axios.post('admin/jobList',qs.stringify({
                    status:"已通过",
                })).then(response =>{
                    this.joblist = response.data.list
                }).catch(error =>{
                    console.log(error)
                })
            },

            getcompanylist(){
                axios.post('admin/memberList',qs.stringify({
                    role:"企业",
            })).then(response =>{
        this.companylist = response.data.list
    }).catch(error =>{
    })
            },

        },
    })


    window.onload = function(){
        $("#iframetop").load("top.html")
        $("#iframefoot").load("foot.html")
    }
</script>
</body>
</html>