<!doctype html>
<html lang="zxx">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="layui/css/layui.css"/>

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <!-- Boxicons Min CSS -->
    <link rel="stylesheet" href="assets/css/boxicons.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <!-- Meanmenu Min CSS -->
    <link rel="stylesheet" href="assets/css/meanmenu.min.css">
    <!-- Nice Select Min CSS -->
    <link rel="stylesheet" href="assets/css/nice-select.min.css">
    <!-- Odometer Min CSS-->
    <link rel="stylesheet" href="assets/css/odometer.min.css">
    <!-- Date Picker CSS-->
    <link rel="stylesheet" href="assets/css/date-picker.min.css">
    <!-- Muli Fonts Min CSS-->
    <link rel="stylesheet" href="assets/css/muli-fonts.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="assets/css/responsive.css">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">
    <!-- Title -->
    <title>校园兼职服务信息管理系统</title>
</head>

<body>
<!-- Start Preloader Area -->
<div class="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- End Preloader Area -->

<!-- Start Header Area -->
<div id="iframetop"></div>
<!-- End Header Area -->

<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="container">
        <div class="page-title-content" style="text-align: center">
            <h3>在线留言</h3>
            <ul>
                <li>
                    <a href="index.html">
                        首页
                    </a>
                </li>
                <li class="active">信息列表</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Candidates Profile Area -->
<section class="candidates-profile-area ptb-100" style="padding-top: 20px">
    <div class="container" id="app">
        <div class="row">
            <div class="col-lg-12">
                <div class="blog-details-content">


                    <div>
                        <div class="row" v-for="message in messagelist" style="margin-bottom: 20px;">
                            <div class="col-lg-1" style="text-align: center;">
                                <img :src="['upload/'+message.member.filename]">
                            </div>
                            <div class="col-lg-11">
                                <span>{{message.member.tname}}</span>
                                <span style="display: block;font-size: 12px;color:grey">{{message.savetime}}</span>
                                <p v-html="message.content" style="margin-bottom: 0px;"></p>

                                <p v-if="message.hfcontent!=null && message.hfcontent!=''" v-html="'<span class=layui-badge style=margin-right:10px;>管理员回复：</span>'+message.hfcontent">
                                </p>

                            </div>
                        </div>
                    </div>


                    <div class="leave-reply">
                        <h3>&nbsp;</h3>
                        <form>
                            <div class="row">

                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>留言内容</label>
                                        <textarea v-model="content" class="form-control" id="message"
                                                  rows="8"></textarea>
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <button type="button" class="default-btn" @click="add()">
                                        提交
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Candidates Profile Area -->

<!-- Start Subscribe Area -->

<!-- End Subscribe Area -->

<!-- Start Footer Area -->

<!-- End Footer Area -->

<!-- Start Copy Right Area -->

<div class="copy-right-area" id="iframefoot">
</div>

<!-- End Copy Right Area -->

<!-- Start Go Top Area -->
<div class="go-top">
    <i class="bx bx-chevrons-up"></i>
    <i class="bx bx-chevrons-up"></i>
</div>
<!-- End Go Top Area -->


<!-- Jquery Min JS -->
<script src="assets/js/jquery.min.js"></script>
<!-- Popper Min JS -->
<script src="assets/js/popper.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="assets/js/bootstrap.min.js"></script>
<!-- Meanmenu Min JS -->
<script src="assets/js/meanmenu.min.js"></script>
<!-- Wow Min JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Owl Carousel Min JS -->
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Nice Select Min JS -->
<script src="assets/js/nice-select.min.js"></script>
<!-- Magnific Popup Min JS -->
<script src="assets/js/magnific-popup.min.js"></script>
<!-- Mixitup JS -->
<script src="assets/js/jquery.mixitup.min.js"></script>
<!-- Appear Min JS -->
<script src="assets/js/appear.min.js"></script>
<!-- Odometer Min JS -->
<script src="assets/js/odometer.min.js"></script>
<!-- Range Slider Min JS -->
<script src="assets/js/range-slider.min.js"></script>
<!-- Datepicker Min JS -->
<script src="assets/js/bootstrap-datepicker.min.js"></script>
<!-- Form Validator Min JS -->
<script src="assets/js/form-validator.min.js"></script>
<!-- Contact JS -->
<script src="assets/js/contact-form-script.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="assets/js/ajaxchimp.min.js"></script>
<!-- Custom JS -->
<script src="assets/js/custom.js"></script>

<script type="text/javascript" src="axios/vue.js"></script>
<script type="text/javascript" src="axios/axios.min.js"></script>
<script type="text/javascript" src="axios/qs.js"></script>
<script type="text/javascript" src="axios/getUrlParams.js"></script>
<script type="text/javascript" src="layer/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="layer/layer.js"></script>
<script type="text/javascript" src="layui/layui.js"></script>
<script type="text/javascript">
    var pageNum = UrlParam.paramValues("pageNum") == null ? 1 : UrlParam.paramValues("pageNum").toString()
    var key = UrlParam.paramValues("key") == null ? "" : UrlParam.paramValues("key").toString()

    var qs = Qs
    var vmm = new Vue({
        el: '#app',
        data: {
            key: key,
            pageSize: 10,
            pageNum: pageNum,

            content: "",
            messagelist:[],
        },
        mounted() {
            sessionStorage.setItem("banermenus", "messagelist")
            this.getmessagelist()
        },
        methods: {

            add() {
                axios.post('checkmember', qs.stringify({})).then(response => {
                    if (response.data.data == 200) {

                        if (this.content == "") {
                            layer.msg("留言内容不能为空", {icon: 5})
                            return false;
                        }
                        axios.post('messageAdd', qs.stringify({
                            content: this.content
                        })).then(response => {
                            layer.msg("留言成功！", {icon: 6})
                            this.getmessagelist()
                        }).catch(error => {
                            console.log(error)
                        })

                    } else {
                        location.replace("login.html")
                    }
                }).catch(error => {
                    console.log(error)
                })
            },

            getmessagelist() {
                axios.post('admin/messageList', qs.stringify({
                    key: this.key,
                    pageSize: this.pageSize
                })).then(response => {
                    layui.use(['laypage', 'layer'], function () {
                        var laypage = layui.laypage
                            , layer = layui.layer;
                        //总页数大于页码总数
                        laypage.render({
                            elem: 'demo1'
                            , theme: "#2042e3"
                            , limit: vmm.pageSize
                            , curr: vmm.pageNum
                            , count: response.data.list.length //数据总数
                            , jump: function (obj, first) {
                                vmm.pageNum = obj.curr
                                vmm.current_page(obj.curr, vmm.pageSize)
                                console.log(obj.curr); //得到当前页，以便向服务端请求对应页的数据。
                            }
                        });
                    });
                }).catch(error => {
                    console.log(error)
                })
            },


            current_page(page, pageSize) {
                axios.post('admin/messageList', qs.stringify({
                    key: this.key,
                    pageNum: page,
                    pageSize: pageSize,
                })).then(response => {
                    this.messagelist = response.data.pageInfo.list
                }).catch(error => {
                    console.log(error)
                })
            },

        },


    })
    window.onload = function () {
        $("#iframetop").load("top.html")
        $("#iframefoot").load("foot.html")
    }
</script>
</body>
</html>